@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBold";
	src: url("fonts/RobotoBold/RobotoBold.eot");
	src: url("fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
			 url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansRegular";
	src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
			 url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansRegular";
	src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
			 url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
			 url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansBold";
	src: url("fonts/OpenSansBold/OpenSansBold.eot");
	src: url("fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
			 url("fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
			 url("fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
