@charset "UTF-8";
body {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
}

a {
  color: #FB0106;
}

.wrapper {
  border-top: 20px #FB0106 solid;
  position: relative;
}

.header-wrap {
  position: relative;
}

.logo-wrap {
  float: left;
}

.logo-wrap img {
  width: 120px;
  margin-top: 30px;
}

.top-mnu {
  float: right;
}

.mega-sub {
  margin-bottom: 30px;
}

.mega-sub i {
  margin-right: 5px;
}

.sf-menu {
  position: static;
  float: none;
}

.sf-menu .sf-mega {
  background-color: #fff;
  padding: 25px 0;
}

.sf-menu .sf-mega ul {
  display: block;
  float: none;
  position: relative;
  box-shadow: none;
}

.sf-menu li {
  white-space: normal;
  position: static;
}

.sf-menu > li > ul {
  width: 220px;
  left: auto;
}

.sf-menu > li > ul li .sf-with-ul::after {
  font-family: "FontAwesome";
  content: 'ï„…';
  right: 1em;
  position: absolute;
}

.responsive-img {
  width: 100%;
}

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #666;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  float: right;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

.sf-menu a {
  color: #333;
  background-color: #fff;
}

.sf-menu > li {
  background-color: #fff;
  border-left: #ddd 1px solid;
}

.sf-menu > li:last-child {
  border-right: #ddd 1px solid;
}

.sf-menu > li.sfHover > a {
  color: #FB0106;
}

.sf-menu > li > a {
  padding: 30px 30px;
  border-bottom: 5px solid transparent;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  color: #333;
}

.sf-menu > li > a + * {
  border-top: #FB0106 solid 5px;
}

.sf-menu > li > a + * a {
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  border-bottom: #ddd 1px solid;
}

.sf-menu > li > a + * a:hover {
  color: #FB0106;
}

.sf-menu > li:hover > a {
  background-color: #fff;
}

.sf-menu .container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.sf-menu .row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.sf-menu .col-lg-1, .sf-menu .col-lg-10, .sf-menu .col-lg-11, .sf-menu .col-lg-12, .sf-menu .col-lg-2, .sf-menu .col-lg-3, .sf-menu .col-lg-4, .sf-menu .col-lg-5, .sf-menu .col-lg-6, .sf-menu .col-lg-7, .sf-menu .col-lg-8, .sf-menu .col-lg-9, .sf-menu .col-md-1, .sf-menu .col-md-10, .sf-menu .col-md-11, .sf-menu .col-md-12, .sf-menu .col-md-2, .sf-menu .col-md-3, .sf-menu .col-md-4, .sf-menu .col-md-5, .sf-menu .col-md-6, .sf-menu .col-md-7, .sf-menu .col-md-8, .sf-menu .col-md-9, .sf-menu .col-sm-1, .sf-menu .col-sm-10, .sf-menu .col-sm-11, .sf-menu .col-sm-12, .sf-menu .col-sm-2, .sf-menu .col-sm-3, .sf-menu .col-sm-4, .sf-menu .col-sm-5, .sf-menu .col-sm-6, .sf-menu .col-sm-7, .sf-menu .col-sm-8, .sf-menu .col-sm-9, .sf-menu .col-xs-1, .sf-menu .col-xs-10, .sf-menu .col-xs-11, .sf-menu .col-xs-12, .sf-menu .col-xs-2, .sf-menu .col-xs-3, .sf-menu .col-xs-4, .sf-menu .col-xs-5, .sf-menu .col-xs-6, .sf-menu .col-xs-7, .sf-menu .col-xs-8, .sf-menu .col-xs-9 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.menu-new-item {
  margin-bottom: 30px;
}

.menu-new-item h3 {
  margin: 15px 0;
}

.menu-new-item a {
  padding: 0;
  font-size: 18px;
  text-decoration: underline;
  color: #FB0106;
}

.menu-new-item p {
  font-size: 14px;
  color: #666;
}

.sf-menu > li > a + * .menu-new-item a {
  border-bottom: none;
}

.sf-menu > li > a + * .menu-new-item a:hover {
  color: #333;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  .top-mnu ul {
    display: none;
  }
  .header-wrap {
    padding-bottom: 25px;
  }
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .toggle-mnu {
    display: none;
  }
  .toggle-mnu, #mobile-menu, html.mm-blocking #mm-blocker {
    display: none;
  }
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/* Large Devices, Wide Screens */
